.error404{
    color: red;
    font-weight: bold;
}

.error404-description {
    font-size: 2em;
    text-align: center;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background-color: var(--white);
}

.location-details {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.location-images {
    display: grid;
    grid-template-columns: repeat(var(--amount-of-columns-on-location-page), 1fr);
    gap: 20px;
}

.location-images img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
